@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(80, 46, 100);
}
footer{
    color: white;
    font-family: monospace;
}
select{
    width: 130px;
    height: 30px;
    margin: 0px 0px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

section{
    background-color: rgb(118, 38, 194);
    text-align: center;
    margin: 5% auto;
    border-style: ridge;
    box-shadow: 2px 5px 12px 0px;
    width: 500px;
    height: auto;
}
#div-principal{
    text-align: center;
}
#h1-principal{
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;
    font-size: 34px;
    text-align: center;
    text-shadow: 2px 1.5px 3px black;
    /* text-decoration: underline; */
}
#input-num{
    margin-bottom: 20px;
    width: 50%;
    height: 20px;
    font-weight: bold;
}
#input-num:hover{
    background-color: rgb(236, 212, 248);
}
#labelDE,#labelPARA{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

label{
   line-height: 35px;
}
.div-coverterDEPARA{
    margin: 4% auto;
    padding: 5px;
    border-style: outset;
    border-radius: 10px 10px 10px 10px;
    /* box-shadow: 1px 1px 1px 1px rgb(59, 9, 59); */
    width: 300px;
    transition: transform .2s;
    height: auto;
}
.div-coverterDEPARA:hover{
    transform: scale(1.1);
}

#button-calcular{
    /* text-transform: uppercase; */
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    box-shadow: 1px 1px 1px 1px rgb(59, 9, 59);
    transition: transform .2s;
}

#button-calcular:hover{
    background-color: rgb(172, 255, 139);
    box-shadow: 1px 0px 5px 1px rgb(145, 190, 151);
    transform: scale(1.1);
}

#tabela-valor{
    font-family: cursive;
    /* border-style: ridge;
    border-collapse: collapse; */
    color: white;
    display: inline-block;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding:10px;
  }
  tr:nth-child(even) {
    background-color: #7a3c83;
  }

.th-digitado{
    background-color: rgb(16, 27, 90);
}
.th-digitado2{
    background-color: rgb(28, 42, 119);
}
.th-convertido{
    background-color: rgb(99, 29, 17);
}
.th-convertido2{
    background-color: rgb(124, 39, 24);
}