@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rampart+One&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Kurenaido&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(80, 46, 100);
    min-width: 420px;
}
footer{
    color: white;
    font-family: monospace;
}
select{
    width: 130px;
    height: 30px;
    margin: 0px 0px 5px 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

section{
    background-color: rgb(118, 38, 194);
    text-align: center;
    margin: 5% auto;
    border-style: ridge;
    box-shadow: 2px 5px 12px 0px;
    width: 38%;
    height: auto;
}
#div-principal{
    text-align: center;
}
#h1-principal{
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;
    font-size: 34px;
    text-align: center;
    text-shadow: 2px 1.5px 3px black;
    /* text-decoration: underline; */
}
#input-num{
    width: 230px;
    margin-bottom: 20px;
    height: 20px;
    font-weight: bold;

}
#input-num:hover{
    background-color: rgb(236, 212, 248);
}
#labelDE,#labelPARA{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

label{
   line-height: 35px;
}
.div-coverterDEPARA{
    width: 60%;
    margin: 4% auto;
    padding: 5px;
    border-style: outset;
    border-radius: 10px 10px 10px 10px;
    /* box-shadow: 1px 1px 1px 1px rgb(59, 9, 59); */
    /* width: 300px; */
    transition: transform .2s;
    height: auto;
}
.div-coverterDEPARA:hover{
    transform: scale(1.1);
}

#button-calcular{
    /* text-transform: uppercase; */
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 150px;
    height: 42px;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    box-shadow: 1px 1px 1px 1px rgb(59, 9, 59);
    transition: transform .1s;
    background-color: white;
}

#button-calcular:hover{
    background-color: rgb(172, 255, 139);
    box-shadow: 1px 0px 5px 1px rgb(74, 109, 77);
    transform: scale(1.1);
    cursor: pointer;
}

#tabela-valor{
    font-family: cursive;
    /* border-style: ridge;
    border-collapse: collapse; */
    color: white;
    display: inline-block;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding:10px;
  }
  tr:nth-child(even) {
    background-color: #7a3c83;
  }

.th-digitado{
    background-color: rgb(16, 27, 90);
}
.th-digitado2{
    background-color: rgb(28, 42, 119);
}
.th-convertido{
    background-color: rgb(99, 29, 17);
}
.th-convertido2{
    background-color: rgb(124, 39, 24);
}
@media (max-width:875px){
    #h1-principal{
        font-size: 28px;
    }
    th{
        font-size: 15px;
    }

}
@media (max-width:686px){
    body{
        margin: 0;
    }
    section{
        width: 60%;
    }
    table{
        text-align: center;
        width: 100%;
    }
    tbody{
        width: 100%;
        /* display: inline-block; */
    }
    tr{
        margin: 0;
        text-align: center;
        width: 100%;
    }
    th,td{
        margin: 0;
        width: 20%;
        text-align: center;
        font-size: 13px;
    }
    #button-calcular{
        width: 120px;
        height: 36px;
        font-size: 13px;
    }
    #input-num{
        width: 80%;
    }
    #h1-principal{
        font-size: 25px;
    }
    select{
        display: inline-block;
        width: 120px;
        height: 28px;
    }
}
@media (max-width:554px){
    th{
        margin: 0;
        padding: 6px;
        text-align: center;
        font-size: 10px;
    }
    .div-coverterDEPARA #labelPARA, #labelDE{
        font-size: 12px;
    }
    #button-calcular{
        width: 38%;
        height: 28px;
    }
    #h1-principal{
        width: 100%;
    }
    select{
        display: inline-block;
        width: 70%;
        height: 28px;
    }
}
